.menu-header {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
	justify-content: center;
	background-color: var(--header-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 1rem 0;
}
.menu-header-top {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}
.menu-header-top input {
	width: 60%;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	border: none;
	background-color: var(--header-options);
	font-family: inherit;
	font-size: 16px;
}
.menu-header-top input::placeholder {
	color: var(--background-color);
}
.menu-options {
	width: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	gap: 0.5rem;
}
.menu-options button {
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	border: none;
	background-color: var(--header-options);
	color: var(--background-color);
	font-family: inherit;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.menu-options button:hover {
	background-color: var(--header-options-hover);
	color: var(--flora-white);
}
.menu-nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 2rem;
	scrollbar-color: transparent transparent;
	scrollbar-width: none;
}
.menu-cafe-categories ,.menu-restaurant-categories {
	padding: 0 1rem;
	width: 100%;
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 1rem;
}
.menu-cafe-categories li, .menu-restaurant-categories li {
	list-style: none;
	padding: 0.5rem 1.5rem;
	border-radius: 1rem;
	background-color: var(--header-options);
	color: var(--background-color);
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.menu-cafe-categories li:hover, .menu-restaurant-categories li:hover {
	background-color: var(--header-options-hover);
	color: var(--flora-white);
}
.menu-cafe-categories li a, .menu-restaurant-categories li a {
	text-decoration: none;
	white-space: nowrap;
	color: inherit;
}

.menu-restaurant-categories {
	display: none;
}