header.about-header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 15px;
    background-color: #1f1f1f30;
    color: #403939;
    margin-bottom: 15px;
}
header.about-header ul.about{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header.about-header ul.about li{
   width: 100%; 
}
header.about-header ul.about li a{
    font-size: 15px;
    color: white;
}
header img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}